/CursoJavaPBL/nbproject/private/
/uri1001/nbproject/private/
/uri1001/build/
/execicio5_IfElse/nbproject/private/
/execicio5_IfElse/build/
/PrimeirasInstrucoes/nbproject/private/
/PrimeirasInstrucoes/build/
/NovoEstrutControl/nbproject/private/
/NovoEstrutControl/build/
/Laboratorio/nbproject/private/
/Laboratorio/build/
/LaboratorioModulo4/nbproject/private/
/uriQuestoes/nbproject/private/